@model UserIndexViewModel
@{
    ViewData["Title"] = "Käyttäjäsivu";
}
<small>@ViewData["message"]</small>
<div class="container">
    <h4>Käyttäjälista (@Model.userCount) kpl:</h4>
    <p>Yleisin nimi @Model.mostCommonName ja se on listassa ilmennyt @Model.mostCommonNameOccurrence</p>
    @foreach (var user in Model.userList)
    {
        <div class="user-card">
            <h1 style="color: @(user.isAdmin ? "red" : "")"> Name: @user.name</h1>
            <p>Current role: @user.role</p>
            <br />
            <p>Change role:</p>
            <select>
                @foreach (var role in Model.roles)
                {
                    <option>@role</option>
                }
            </select>
            <hr />
        </div>
    }
</div>